<main class="row-span-4 bg-gradient-to-t from-secondary-100 to-secondary-200 min-h-screen flex flex-col">
    <div class="min-h-screen flex flex-col justify-self-center content-center justify-between  ">
        <div class="flex justify-center self-center lg:flex-row sm:flex-col flex-col pt-24 -mb-24 w-full">
            <div class="z-10 border-gray-950 border-2 flex justify-center self-center flex-col 
            font-medium bg-primary-100 py-3 w-2/3 lg:w-2/3 max-w-5xl rounded-3xl border-b-4 border-primary-300 p-2 sm:p-10">
            <h1 class="font-bold text-2xl text-center -mt-7 mb-3"><i>Perfil personal</i></h1>
                <form id="formPerfil" class="flex flex-col " method="put" action="/user">
                    
                    <% if(user.rol == "user") {%>
                    <div class="border-gray-950 flex justify-center self-center flex-col 
                    font-medium bg-primary-100 py-3 w-full rounded-3xl border-2 border-b-4 border-primary-300 p-2 sm:p-5 mb-5">
                            <div class="flex flex-col sm:flex-row w-full justify-evenly">
                                <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                                    <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="alias">Alias público</label>
                                    <input title="Alias aleatorio en japones" disabled class="cursor-not-allowed border border-gray-200 rounded-lg pl-2 py-2
                                    font-medium bg-gray-300 px-6 border-b-4 border-primary-300"  <% if(user.alias != undefined) {%> value="<%= user.alias %>" <% } %>  type="text" placeholder="Introduce tu correo" name="alias" id="alias">
                                </div>
                                <div class="flex flex-col md:flex-row w-fit">
                                    <!-- <div class="flex flex-col max-w-80 w-fit pr-5 sm:pl-2">
                                        <label class="text-2xl rounded-md my-1.5 font-bold text-black w-fit" for="image">Imagen</label>
                                        <input class="hidden border border-gray-200 rounded-lg pl-2 py-2
                                        font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Id imagen" name="image" id="image">
                                    </div> -->
                                    
                                    <div class="flex flex-col h-20 mr-3">
                                        <label class="text-2xl rounded-md my-1.5 font-bold text-black w-fit" for="image">Imagen</label>
                                        <a href="#"  title="Imagen de perfil aleatoria">
                                        <div id="idImagenPerfilBtn"
                                            class="flex justify-center p-2 w-20 h-11 mr-2 items-center bg-white rounded-lg border-2 border-b-4 active:mt-1 active:border-b-0 border-primary-300"
                                        >
                                            <img class="h-7 w-7" src="img/d20.svg" alt="Icono de dado" />
                                        </div>
                                    </a>
                                    </div>
                                    
                                    <img class="imagenPerfil h-20 w-20 rounded-full bg-primary-100 self-center shadow-md"
                                    src="img/avatars/0.jpg" alt="Imagen de perfil">
                                </div>
                            </div>
                            <span class="text-center w-full pt-4">No sabíamos cómo <b>llamar tu atención</b> para que nos apoyases en patreon <br>así que <b>te hemos dedicado un alias en Japonés</b> y un avatar <i>un poco troll</i>..</span>
                    </div>
                    <% } else { %>
                        
                                <div class="flex flex-col sm:flex-row w-full justify-left">
                                    <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                                        <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="alias">Alias público</label>
                                        <input title="Alias" class="border border-gray-200 rounded-lg pl-2 py-2
                                        font-medium bg-white px-6 border-b-4 border-primary-300"  <% if(user.alias != undefined) {%> value="<%= user.alias %>" <% } %>  type="text" placeholder="Introduce tu correo" name="alias" id="alias">
                                    </div>
                                    <div class="flex flex-col md:flex-row w-fit">
                                        <!-- <div class="flex flex-col max-w-80 w-fit pr-5 sm:pl-2">
                                            <label class="text-2xl rounded-md my-1.5 font-bold text-black w-fit" for="image">Imagen</label>
                                            <input class="hidden border border-gray-200 rounded-lg pl-2 py-2
                                            font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Id imagen" name="image" id="image">
                                        </div> -->
                                        
                                        <div class="flex flex-col h-20 mr-3">
                                            <label class="text-2xl rounded-md my-1.5 font-bold text-black w-fit sm:ml-2" for="image">Imagen</label>
                                            <a href="#"  class="sm:ml-2" title="Imagen de perfil aleatoria">
                                            <div id="idImagenPerfilBtn"
                                                class="flex justify-center p-2 w-20 h-11 mr-2 items-center bg-white rounded-lg border-2 border-b-4 active:mt-1 active:border-b-0 border-primary-300"
                                            >
                                                <img class="h-7 w-7" src="img/d20.svg" alt="Icono de dado" />
                                            </div>
                                        </a>
                                        </div>
                                        
                                        <img class="imagenPerfil h-20 w-20 rounded-full bg-primary-100 self-center shadow-md"
                                        src="img/avatars/0.jpg" alt="Imagen de perfil">
                                    </div>
                                </div>

                    <% } %>
                    <div class="flex flex-col sm:flex-row w-full">
                        <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="twitter">Twitter</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" <% if(user.twitter != undefined) {%> value="<%= user.twitter %>" <% } %> type="text" placeholder="Introduce tu Twitter" name="twitter" id="twitter">
                        </div>
                        <div class="flex flex-col w-full sm:w-1/2 sm:pl-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="twitch">Twitch</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" <% if(user.twitch != undefined) {%> value="<%= user.twitch %>" <% } %> type="text" placeholder="Introduce tu Twitch" name="twitch" id="twitch">
                        </div>
                    </div>
                    <div class="flex flex-col pb-2">
                        <label class="text-2xl rounded-md my-1.5 font-bold text-black w-2/3" for="url">Url</label>
                        <input class="border border-gray-200 rounded-lg pl-2 py-2
                        font-medium bg-white px-6 border-b-4 border-primary-300" <% if(user.url != undefined) {%> value="<%= user.url %>" <% } %> type="url" placeholder="Introduce tu dirección web" name="url" id="url">
                    </div>
                    <div class="flex flex-col sm:flex-row w-full">
                        <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="instagram">Instagram</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" <% if(user.instagram != undefined) {%> value="<%= user.instagram %>" <% } %> type="text" placeholder="Introduce tu Instagram" name="instagram" id="instagram">
                        </div>
                        <div class="flex flex-col w-full sm:w-1/2 sm:pl-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="email">Correo</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" <% if(user.email != undefined) {%> value="<%= user.email %>" <% } %> type="email" placeholder="Introduce tu correo" name="email" id="email">
                        </div>
                    </div>
                    <button class="my-5 text-lg text-black font-bold bg-white hover:bg-gray-200 active:border-none active:mt-6
                    py-2 rounded-lg transition duration-300  
                    border-b-4 border-primary-300 self-center w-full sm:w-1/2" href="">Guardar</button>
                </form>
                <hr class="w-48 h-0.5 mx-auto my-1 bg-gray-900 border-0 rounded">
                <div class="flex justify-center my-2">
                    <div class="flex justify-center">
                        <% if(user.newsletter == true) { %>
                            <input class="inline self-center mr-1 italic font-bold" type="checkbox" id="newsletter" name="newsletter" checked>
                            <% } else { %>
                                <input class="inline self-center mr-1 italic font-bold" type="checkbox" id="newsletter" name="newsletter">
                            <% } %>
                            <label class="inline self-center mr-5 italic font-bold" for="newsletter">¿Quieres recibir notificaciones?</label>
                            </div>
                        <a class="inline self-center italic font-bold" href="/reset-password">¿Necesitas cambiar tu contraseña?</a>    

                </div>
                <hr class="w-48 h-0.5 mx-auto my-1 bg-gray-900 border-0 rounded">
                
                <a class="inline self-center font-normal italic text-red-600" href="/sayonara">Eliminar cuenta</a>    
            </div>
        </div>
        <img src="img/wave-gris.svg" alt="Ola gris">
    </div>
   
</main>
<script>

    // al clicar en idImagenPerfilBtn se reasigna de forma aleatoria la imagen de perfil
    document.getElementById('idImagenPerfilBtn').addEventListener('click', () => {

        let id = Math.floor(Math.random() * 10) + 1;
        // mientras el id no sea el mismo que el que ya tiene
        while (id == sessionStorage.getItem('idImagenPerfil')) {
            id = Math.floor(Math.random() * 10) + 1;
        }
        // se cambia en sesion storage el valor de la imagen de perfil
        sessionStorage.setItem('idImagenPerfil', id);

        // se cambian la imagenes de perfil
        document.querySelectorAll('.imagenPerfil').forEach((element) => {
            element.src = `img/avatars/${id}.jpg`;
        });
        

        // se recarga la pagina
        // flocation.reload();
    });

    // Se obtiene el formulario
    const form = document.getElementById('formPerfil');

    // Se le asigna un evento al formulario
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      const alias = document.getElementById('alias').value;
      //const image = document.getElementById('image').value;
      const twitter = document.getElementById('twitter').value;
      const twitch = document.getElementById('twitch').value;
      const url = document.getElementById('url').value;
      const instagram = document.getElementById('instagram').value;
        const email = document.getElementById('email').value;
        const newsletter = document.getElementById('newsletter').checked;

    axios.put('/user', {
        alias,
        twitter,
        twitch,
        url,
        instagram,
        email,
        newsletter        
    })
      .then(response => {
        // Meter aqui un modal de que se ha actualizado correctamente
        console.log('Datos actualizados');
        Swal.fire({
                    icon: 'success',
                    title: 'Datos guardados satisfactoriamente.',
                    showConfirmButton: false,
                    timer: 2500
        })
      
      })
      .catch(error => {
        console.log(error);

        Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al actualizar los datos. Por favor, inténtalo de nuevo más tarde.',
                    confirmButtonText: 'Aceptar'
        })
    });
    });
  </script>